.root {
    flex-grow: 1,
}

.menuButton {
    margin-right: 1rem;
}

.title {
    flex-grow: 1;
    display: block;
    padding-left: 1rem;
    /*[theme.breakpoints.up('sm')]: {
        display: 'block',
    }
    ,*/
}

/*.search {
    position: 'relative';
    border-radius: 0.5rem;
    background-color: fade(white, 0.15);
    margin-left: 0;
    width: '100%';
    /*[theme.breakpoints.up('sm')]: {
        marginLeft: theme.spacing(1), width: 'auto', 
}

.search:hover {
    background-color: fade(white, 0.25),
}

.searchIcon {
    padding: 0, 2rem;
    height: 100%;
    position: absolute;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
*
.inputRoot {
    color: inherit;
}

.inputInput {
    padding: 1rem, 1rem, 1rem, 0;
    padding-left: 5rem;
    transition: width 75%; 
    /*[theme.breakpoints.up('sm')]: {
        width: '12ch',
}

.inputInput:focus {
    width: 100%; /*0.75rem? for "20ch"
}
*/

.search {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0.25rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 0.1rem;
}

.searchIcon {
    flex-basis: auto;
    align-self: center;
    margin: 0.2rem 0 0 0.5rem;
}

.searchInput {
    /*width: 100%;*/
    color: white;
    background: none;
    border-style: none;
    border: 0;
    height: 1.2rem;
    /*font-size: 1rem;*/
    
}

.list {
    width: 250px,
}