.welcome {
    width: 100vw;
    height: 100vh;
    background: #383838;/* rgb(255, 136, 0);*/
    text-align: center;
    z-index: 70;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
}

.welcomeContainer {
    color: rgb(255, 230, 180);
    font-size: 2rem;
    margin: 0 auto;
}

.container {
    color: rgb(255, 230, 180);
    font-size: 2rem;
    margin: 0 auto;
}

.welcomeContainer h2 {
    height: 7rem;
}

.container p {
    font-size: 1.5rem;
}

.topLeft {
    top: 3rem;
    left: 3rem;
    position: absolute;
}

.bottomRight {
    right: 3rem;
    bottom: 3rem;
    position: absolute;
}

.optionsButtons {
    display: flex;
    flex-direction: column;
}

.optionsBtn {
    width: 20rem;
    height: 3rem;
    margin: 0.5rem auto;
    border: solid 0.25rem rgb(180, 140, 45);
    border-radius: 2rem;
    background-color: rgb(255, 180, 90);
    color: rgb(120, 100, 30);
    font-size: 1rem;
    outline: none;
}

.fixedStaticArea {
    position: fixed;
    top: 0;
    right: 0;
    margin: 1rem;
}

.fixedStaticArea button {
    font-weight: bold;
    background: none;
    border: none;
    font-size: 1rem;
    color: #FDD;
    outline: none;
}