.resume {
    
}

.header {
    text-align: center;
    margin-bottom: 7rem;
}

.title {

}

.controlPanel {
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 7rem;
    position: relative;
    margin-top: -3rem;
}

.timeframe { 
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    top: 0;
    position: absolute;
    height: 70vh;
}

.categories {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 4rem;
    top: 0;
    position: absolute;
    height: 70vh;
}

.categories h3 {
    display: block;
}

.categoriesBtn {
    
}

.formatBtns {
    display: flex;
}

.format {
    width: 100%;
    justify-content: center;
    margin-bottom: 4rem;
    top: 0;
    position: absolute;
    height: 70vh;
}

.content {

}